/* BEGIN Bold */
@font-face {
	font-family: 'IranianSansBold';
	src: url('fonts/IranianSansBold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
/* END Bold */
/* BEGIN Regular */
@font-face {
	font-family: 'IranianSans';
	src: url('fonts/IranianSansRegular.ttf') format('truetype'),
		 url('fonts/IRANSans-web.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
/* END Regular */

.c-login{
	font-family: 'IranianSans';
}
.c-login .header-title h3{
	font-family: 'IranianSans';
}

body{
	font-family: 'IranianSans';
}

.cfont{
	font-family: 'IranianSans';
}
